body {
    font-family: Arial, sans-serif;
}
* {
    margin: 0px;
}

html {
    box-sizing: border-box;
}


body {add
    font-family: 'Nunito', sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgb(107, 120, 132);
    color: rgb(0, 0, 0);
}

h5 {
    text-align: center;
    font-size: 18px;
    padding: 30px;
}

.completa {
    text-decoration: line-through;
    color: rgba(0, 87, 179, 0.443);
}

/* DATOS */
.datos {
    background-color: rgb(12, 42, 66);
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 10px;
}

.datos p {
    background-color: rgb(146, 163, 184);
    color: rgb(18, 42, 61);
    padding: 6px 10px;
    border-radius: 5px;
}


/* CONTENEDOR */
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
}

.contenedor .formulario {
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(167, 181, 198);
    color: #282525;
    max-height: 110px;
}

.contenedor .formulario input[type="text"] {
    border: none;
    padding: 8px;
}

.contenedor .formulario input[type="text"]:focus {
    outline: none;
    border-bottom: 5px solid rgb(167, 175, 188);
    ;
}

.contenedor .formulario input[type="submit"] {
    border: none;
    padding: 10px;
    background-color: rgb(77, 86, 100);
    color: #fff;
    cursor: pointer;
}




/* TAREAS */
.contenedor .tareas {
    padding: 10px;
    margin: 10px;
    background-color: rgb(177, 191, 193);
}

.contenedor .item-tarea {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px 2px;
}

.eliminar {
    border: none;
    background-color: rgb(255, 0, 89);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform ease 300ms;
    padding: 8px;
}

.eliminar:hover {
    transform: scale(1.3);
}

.completada {
    border: none;
    background-color: rgb(160, 167, 174);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform ease 300ms;
    padding: 8px;
}

.completada:hover {
    transform: scale(1.3);
}


@media (max-width: 600px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        margin: 15px;
    }
}